[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/wangchongwisdom
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wangchongwisdom
	label-Verified = -1..+1 group user/wangchongwisdom
	push = group user/wangchongwisdom
	read = group user/wangchongwisdom
	rebase = group user/wangchongwisdom
	removeReviewer = group user/wangchongwisdom
	submit = group user/wangchongwisdom
[access "refs/heads/*"]
	create = group user/wangchongwisdom
	push = +force group user/wangchongwisdom
	pushMerge = group user/wangchongwisdom
	read = group user/wangchongwisdom
[access "refs/tags/*"]
	push = group user/wangchongwisdom
	push = +force group user/wangchongwisdom
